In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
import webbrowser as wb
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
wb.open(website)

True

In [4]:
nfl_frame = pd.read_clipboard()

In [5]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East

In [6]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [7]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [8]:
nfl_frame.Team

0             Dallas Cowboys
1          Green Bay Packers
2              Chicago Bears
3             Miami Dolphins
4    New England Patriots[b]
Name: Team, dtype: object

In [9]:
nfl_frame['First NFL Season']

0    1960
1    1921
2    1920
3    1966
4    1960
Name: First NFL Season, dtype: int64

In [10]:
DataFrame(nfl_frame, columns=['Team', 'First NFL Season', 'Total Games'])

                      Team  First NFL Season Total Games
0           Dallas Cowboys              1960         882
1        Green Bay Packers              1921       1,336
2            Chicago Bears              1920       1,370
3           Miami Dolphins              1966         800
4  New England Patriots[b]              1960         884

In [11]:
DataFrame(nfl_frame, columns=['Team', 'First NFL Season', 'Total Games', 'Stadium'])

                      Team  First NFL Season Total Games  Stadium
0           Dallas Cowboys              1960         882      NaN
1        Green Bay Packers              1921       1,336      NaN
2            Chicago Bears              1920       1,370      NaN
3           Miami Dolphins              1966         800      NaN
4  New England Patriots[b]              1960         884      NaN

In [12]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East

In [24]:
nfl_frame.head(1)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East

In [19]:
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East

In [26]:
nfl_frame.iloc[3]

Rank                             4
Team                Miami Dolphins
Won                            445
Lost                           351
Tied                             4
Pct.                         0.559
First NFL Season              1966
Total Games                    800
Division                  AFC East
Name: 3, dtype: object

In [30]:
nfl_frame.loc[0]

Rank                             1
Team                Dallas Cowboys
Won                            502
Lost                           374
Tied                             6
Pct.                         0.573
First NFL Season              1960
Total Games                    882
Division                  NFC East
Name: 0, dtype: object

In [ ]:
nfl_frame['Stadium'] = "Levi's Stadium"