In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [5]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
ser2['E'] = 5.0

In [8]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
F    NaN
dtype: float64

In [9]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value = 0)

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
F    NaN
G    0.0
dtype: float64

In [11]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'], fill_value = 0)

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
F    NaN
G    0.0
H    0.0
I    0.0
dtype: float64

In [12]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
F    NaN
dtype: float64

In [13]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])

In [14]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [15]:
ranger = range(15)

In [16]:
ranger

range(0, 15)

In [17]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object