In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [5]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
ser2['E'] = 5.0

In [8]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
F    NaN
dtype: float64

In [9]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value = 0)

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
F    NaN
G    0.0
dtype: float64

In [11]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'], fill_value = 0)

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
F    NaN
G    0.0
H    0.0
I    0.0
dtype: float64

In [12]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
F    NaN
dtype: float64

In [13]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])

In [14]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [15]:
ranger = range(15)

In [16]:
ranger

range(0, 15)

In [17]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [18]:
dframe = DataFrame(randn(25).reshape(5,5),index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -1.404278  1.563901 -0.697777 -0.302667  0.525759
B -0.005225  0.387688  0.656282 -0.780713  0.164028
D -0.607349 -0.506671  0.409558 -0.913112  0.025782
E -1.056121  2.002809 -0.604402 -0.521299  0.266804
F -0.462077 -0.701383  1.153908 -0.781993  0.135661

In [22]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -1.404278  1.563901 -0.697777 -0.302667  0.525759
B -0.005225  0.387688  0.656282 -0.780713  0.164028
C       NaN       NaN       NaN       NaN       NaN
D -0.607349 -0.506671  0.409558 -0.913112  0.025782
E -1.056121  2.002809 -0.604402 -0.521299  0.266804
F -0.462077 -0.701383  1.153908 -0.781993  0.135661

In [23]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [24]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.404278  1.563901 -0.697777 -0.302667  0.525759   NaN
B -0.005225  0.387688  0.656282 -0.780713  0.164028   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.607349 -0.506671  0.409558 -0.913112  0.025782   NaN
E -1.056121  2.002809 -0.604402 -0.521299  0.266804   NaN
F -0.462077 -0.701383  1.153908 -0.781993  0.135661   NaN

In [27]:
dframe

       col1      col2      col3      col4      col5
A -1.404278  1.563901 -0.697777 -0.302667  0.525759
B -0.005225  0.387688  0.656282 -0.780713  0.164028
D -0.607349 -0.506671  0.409558 -0.913112  0.025782
E -1.056121  2.002809 -0.604402 -0.521299  0.266804
F -0.462077 -0.701383  1.153908 -0.781993  0.135661

In [29]:
dframe.ix[['A','B','C','D','E','F'], new_columns]

       col1      col2      col3      col4      col5  col6
A -1.404278  1.563901 -0.697777 -0.302667  0.525759   NaN
B -0.005225  0.387688  0.656282 -0.780713  0.164028   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.607349 -0.506671  0.409558 -0.913112  0.025782   NaN
E -1.056121  2.002809 -0.604402 -0.521299  0.266804   NaN
F -0.462077 -0.701383  1.153908 -0.781993  0.135661   NaN